@page "/fetchdata"
@inject HttpClient Http

<h1>Blog posts</h1>

<p>This component fetches blogpost data from a C# Function.</p>

@if (posts == null)
{
    <p><em>We're getting the info for you...</em></p>
}
else
{
    foreach (var post in posts)
    {
        <a href="@post.Url" target="_blank">@post.Title</a>
        <div>
            @post.Description
        </div>
        <hr />
    }
}

@code {
    private BlogPost[] posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<BlogPost[]>("api/blogposts");
    }

}
