@page "/"

<h1>Hello, ASWA world!</h1>
<div>
    Welcome to the ASWA .NET example.
</div>
<div>
    You can find the source code for this example on GitHub: <a href="https://www.github.com/rickvdbosch/aswa-example02" target="_blank">rickvdbosch/aswa-example02</a>
</div>