@page "/"

<h1>Hello, ASWA world!</h1>
<div>
    Welcome to the ASWA .NET example.
</div>
<h2>Here are some links</h2>
<ul>
    <li>Source code on GitHub: <a href="https://www.github.com/rickvdbosch/aswa-example02" target="_blank">rickvdbosch/aswa-example02</a></li>
    <li>Blog post that triggered this: <a href="https://www.rickvandenbosch.net//blog/azure-static-web-apps-update/" target="_blank">Azure Static Web Apps: UPDATE</a></li>
    <li><a href="https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-blazor" target="_blank">Tutorial: Building a static web app with Blazor in Azure Static Web Apps</a></li>
</ul>